.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

table,table th, td{
    border: 1px solid black;
}
table {
    text-align: center;
}
table tr:first-child{
    padding: 10px;
}
table th {
    background-color: rgb(235, 242, 247);
}
table tr:nth-child(odd):hover{
    background-color: rgb(202, 235, 226);
}
table tr:nth-child(even){
    background-color: rgb(235, 242, 247);
}
table tr:nth-child(even):hover{
    background-color: rgb(216, 230, 227);
}