
.slider {
  margin: 0px auto;
  padding: 0;
  width: 50%;
  position: relative;
  display: block;
  aspect-ratio: 1.5;
  overflow: hidden;
  transition: all 0.2;
}
.slider img {
  width: 100%;
  aspect-ratio: 1.5;
  bottom: 50px;
  transition: all 0.8s;
}
@media only screen and (max-width: 840px) {
  .slider {
    width: 100%;
  }
} 

.contenedorMainPubli {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}
.contenedorGeneralPublic {
  padding: 20px;
  width: 70%;
}
.fotosInicioContenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0px;
}
.fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.fotos img {
  width: 50%;
  aspect-ratio: 1.501;
  cursor: pointer;
  filter: brightness(0.9) contrast(0.8);
  transition: all 0.3s;
}
.fotos img:hover {
  filter: brightness(1.1) contrast(1.1);
  z-index: 3;
}

.texto h2 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
}
.texto {
  text-align: center;
  font-weight: 600;
}
.texto2 {
  text-align: left;
  font-size: 18px;
}
.enfasis{
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}
