body {
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
}

.contenedorPistas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0px;
}
.contenedorPistas .pista:nth-child(1) {
  flex-direction: row-reverse;
}
.pista {
  background-color: azure;
  width: 90%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.pista .contenedorImg {
  width: 50%;
  overflow: hidden;
}
.pista .contenedorImg img {
  width: 130%;
}
.contenedorTexto {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}
h2 {
  text-align: center;
  font-weight: 700;
}
a.link {
  padding: 10px 20px;
  background-color: rgb(199, 186, 4);
  color: white;
  transition: all 0.3s;
}
a.link:hover {
  background-color: rgb(182, 170, 4);
}
.contenedorPistas hr {
  display: none;
}
.contenedorTexto p {
  margin: 0px 10px;
  text-align: center;
  font-size: 24px;
}
@media only screen and (max-width: 1200px) {
  .contenedorTexto p {
    font-size: 16px;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 925px) {
  .pista {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorImg {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .contenedorTexto {
    width: 100%;
  }
  .contenedorTexto p {
    text-align: left;
  }

  .contenedorPistas .pista:nth-child(3) {
    flex-direction: column;
  }
  .contenedorPistas hr {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #000;
  }
}

.bonoPremium {
  width: 80%;
  background: rgb(193, 105, 68);
  background: linear-gradient(
    90deg,
    rgba(193, 105, 68, 1) 0%,
    rgba(237, 215, 103, 1) 51%,
    rgba(54, 208, 82, 1) 84%
  );
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.bonoPremium h3 {
    color: white;
    font-weight: 800;
    font-size: 35px;
}
